<h2>Team details</h2>
<p><strong>Name: </strong>{{teams.name}}</p>


{{#each teams.participants}}
<h3>Team participants</h3>
<ul>
    <li><strong>Name:</strong>{{this.name}}</li>
    <li><strong>Age:</strong>{{this.age}}</li>
    <li><strong>Email:</strong>{{this.email}}</li>

</ul>
{{/each}}

<form method = "POST" action = "/teams/delete/{{teams._id}}">

<button type="submit">Delete Team</button>

<a href = "/teams/{{teams._id}}/edit">Edit Team</a>

</form>